<article class="post">
  <h1><%= post.title %></h1>
  <p class="post_details">Written by <%= post.author_name %> on <%= post.created_at.strftime("%m/%d/%Y") %></p>
  <p class="post_body"><%= post.body %></p>
</article>
