<div class="container new-note-popup">
  <h3>Create Note</h3>
  <form id="new_note" action="/users/<%=current_user.id%>/notes" method="post">
    <div class="form-group">
      <label for="text">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea class="form-control" rows="5" type="text" id="body" name="body" placeholder="Enter body"></textarea>
    </div>
    <button type="submit" id="save-new-note" class="btn btn-default">Save Note</button>
  </form>
</div>
